<template>
	<page-layout>
		<div class="h-center">
			<div class="w-reduced flex flex-col flex-wrap">
				<div id="article-frontmatter">
					<h1>{{ $page.article.title }}</h1>
					<p class="leading-relaxed mb-6">{{ $page.article.displayedCreationDateTime }}</p>
				</div>
				<div id="article-content" class="leading-relaxed" v-html="$page.article.content"></div>
			</div>
		</div>
	</page-layout>
</template>

<script>
export default {
	name: "Article"
}
</script>

<page-query>
query($path: String!) {
	article(path: $path) {
		title
		displayedCreationDateTime
		content
	}
}
</page-query>

<style>
#article-frontmatter h1 { @apply font-bold text-3xl text-gray-aaa; }
@screen md {
	#article-frontmatter h1 { @apply text-3xl; }
}

#article-frontmatter p { @apply text-gray-aaa; }

#article-content > p { @apply mb-4 text-gray-aaa; }
#article-content h1 { @apply font-bold mb-2 text-3xl text-gray-aaa; }
#article-content h2 { @apply font-bold mb-2 text-2xl text-gray-aaa; }
#article-content h3 { @apply font-bold mb-2 text-xl text-gray-aaa; }
#article-content h4, h5, h6 { @apply font-bold mb-2 text-lg text-gray-aaa; }

div > ul { @apply list-inside list-disc mb-4 text-gray-aaa; }
ul > li > ul { @apply list-inside list-circle ml-6; }
div > ol { @apply list-inside list-decimal mb-4 text-gray-aaa; }

hr { 
	@apply mb-1 border border-gray-333;
}

blockquote { @apply mb-4 pl-4 border-l-4 border-gray-333 text-gray-888; }

p > code { @apply p-1 rounded bg-gray-333 text-gray-aaa; }
pre > code {
	@apply p-2 rounded block mb-4 bg-gray-333 text-gray-aaa;
	word-wrap: break-word;
	white-space: pre-wrap;
}
</style>