@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	@apply bg-gray-1e font-global;
}

div.h-center {
	@apply flex flex-row justify-center;
}

div.w-reduced {
	@apply mx-4 w-full;
	max-width: 768px;
}

a { @apply text-gray-888; }
a:hover { @apply text-white underline; }

@screen md {
	div.w-reduced {
		@apply mx-0 w-3/4;
	}
}

@screen xl {
	div.w-reduced {
		@apply w-3/5;
	}
}