<template>
	<page-layout>
		<div class="h-center">
			<div class="w-reduced">
				<h1>About</h1>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error doloremque omnis animi, eligendi magni a voluptatum, vitae, consequuntur rerum illum odit fugit assumenda rem dolores inventore iste reprehenderit maxime! Iusto.</p>
			</div>
		</div>
	</page-layout>
</template>

<script>
export default {
  metaInfo: {
    title: 'About'
  }
}
</script>
