<template>
  <page-layout>
		<div class="h-center">
			<div class="w-reduced">

				<ul class="list-disc list-outside">
					<li class="text-gray-aaa" v-for="(article, index) in $page.articles.edges" :key="index">
						<g-link :to="article.node.path" class="text-gray-aaa">
							{{ dateFromISO8601DateTime(article.node.creationDateTime) }} - {{article.node.title}}
						</g-link>
					</li>
				</ul>

				<pager class="mt-10 md:mt-18 flex flex-row flex-wrap pager"
					:info="$page.articles.pageInfo"
					linkClass="mx-4" />

			</div>
		</div>
  </page-layout>
</template>

<script>
import { Pager } from "gridsome";

export default {
	components: {
		Pager
	},
  metaInfo: {
    title: "Home"
	},
	methods: {
		dateFromISO8601DateTime(dateTime) {
			return `${dateTime}`.split("T")[0].replace(/\-/g, "/");
		}
	}
}
</script>

<page-query>
query($page: Int) {
	articles: allArticle(page: $page, perPage: 10) @paginate {
		pageInfo {
			totalPages
			currentPage
		}
		edges {
      node {
        title
				creationDateTime
				path
      }
    }
	}
}
</page-query>

<style>
nav.pager > a.active {
	@apply text-white underline;
}
</style>