<template>
	<div class="h-center">
		<div class="w-reduced">

			<div class="flex flex-row justify-start">
				<g-link v-for="(item, index) in menuItems"
					:key="index"
					:to="item.path"
					class="mr-4 last:mr-0 text-gray-555">
						{{ item.title }}
				</g-link>
			</div>

		</div>
	</div>
</template>

<script>
import menuItems from "@/data/menu.json"

export default {
	name: "Navbar",
	data() {
		return {
			menuItems
		}
	}
}
</script>