<template>
	<header>
		<div class="h-center">
			<div class="w-reduced">
				<nav class="flex flex-col md:flex-row justify-between items-center">
					<div class="flex flex-row justify-between items-center w-full">
						<p><a href="/">MQRS</a></p>
						<button @click="toggleMenu" class="md:hidden">
							<svg :class="menuIsExpanded ? 'hidden' : 'block'" width="40px" height="40px" xmlns="http://www.w3.org/2000/svg" version="1.1">
								<line x1="8" y1="10" x2="32" y2="10" stroke="#bbbbbb" stroke-width="2" stroke-linecap="round" />
								<line x1="8" y1="20" x2="32" y2="20" stroke="#bbbbbb" stroke-width="2" stroke-linecap="round" />
								<line x1="8" y1="30" x2="32" y2="30" stroke="#bbbbbb" stroke-width="2" stroke-linecap="round" />
							</svg>
							<svg :class="menuIsExpanded ? 'block' : 'hidden'" width="40px" height="40px" xmlns="http://www.w3.org/2000/svg" version="1.1">
								<line x1="10" y1="10" x2="30" y2="30" stroke="#bbbbbb" stroke-width="2" stroke-linecap="round" />
								<line x1="30" y1="10" x2="10" y2="30" stroke="#bbbbbb" stroke-width="2" stroke-linecap="round" />
							</svg>
						</button>
					</div>
					<div :class="menuIsExpanded ? 'flex' : 'hidden'" class="mb-4 flex-col items-center w-full md:mb-0 md:flex md:flex-row md:w-auto">
						<g-link v-for="(item, index) in menuItems" :key="index" :to="item.path" class="my-1 md:my-0 md:mr-4 md:last:mr-0">{{ item.title }}</g-link>
					</div>
				</nav>
			</div>
		</div>
	</header>
</template>

<script>
import menuItems from "@/data/menu.json"

export default {
	name: "ResponsiveNavbar",
	data() {
		return {
			menuItems,
			menuIsExpanded: false
		}
	},
	methods: {
		toggleMenu() {
			this.menuIsExpanded = !this.menuIsExpanded;
		}
	}
}
</script>