<template>
	<div>
		<navbar class="mt-4 md:mt-10 lg:mt-12" />
		<div class="mt-6">
			<slot />
		</div>
	</div>
</template>

<script>
import Navbar from "~/components/Navbar"

export default {
	components: {
		Navbar
	}
}
</script>